<% layout('layout', {title:'Dashboard'}) %>
<h2>Dashboard</h2>
<p>Totalt antal kontaktförfrågningar: <strong><%= count %></strong></p>
<p><a href="/admin/contacts">Visa kontakter</a></p>
<p><a href="/admin/pages/home">Redigera startsida</a></p>
